@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

}
header .navbar-light .navbar-brand {
    color:  #af856d;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}
header .navbar-light .navbar-nav .nav-link{
    color:  #4e5981;
font-size: 18px;
font-weight: 500;
font-family: 'Montserrat', sans-serif;
text-transform: capitalize;
}

.banner{background-image: url("banner2.jpg");
    height: 500px;
    width: 100%;
    background-position: center;
    background-size: cover;
}
.banner .container{
    height: 100%;
}
.banner .block{
 
    height: 100%;
}
.banner .inner-block{
    display:flex;
    flex-direction: column;
}
.banner .block .inner-block .img-block{
max-width: 100%;
}
.banner .block .inner-block .img-block img{
width: 100%;
object-fit: cover;
border-radius: 50%;
max-width:160px;

}
.banner .block .inner-block h1{
font-size: 54px;
font-weight: 700;
text-transform: uppercase;
font-family: 'Montserrat', sans-serif;
color: #af856d;
}
.banner .block .inner-block h2{
font-size: 45px;
font-weight: 700;
text-transform: uppercase;
letter-spacing: 2px;
color:  hsla(0, 0%, 95%, 0.748);
font-family: 'Montserrat', sans-serif;
margin-top: 10px;
}
.banner .block .inner-block h2:hover{
color: #ffffff;

}
@media(max-width:991px){
    .banner{
        height: 400px;
    }
    header .navbar-light .navbar-brand{
        font-size:30px;
    }
    .banner .block .inner-block h1{
        font-size: 45px;
    }
    .banner .block .inner-block h2{
        font-size: 40px;
    }
}
@media(max-width:767px){
    .banner{
        height: 390px;
    }
    header .navbar-light .navbar-brand{
        font-size:25px;
    }
    .banner .block .inner-block h1{
        font-size:35px;
    }
    .banner .block .inner-block h2{
        font-size: 30px;
    }
}
@media(max-width:575px){
    .banner{
        height: 380px;
    }
    header .navbar-light .navbar-brand{
        font-size:20px;
    }
    .banner .block .inner-block h1{
        font-size:30px;
    }
    .banner .block .inner-block h2{
        font-size: 25px;
    }
}

.about {
    margin-top: 50px;
}
.about .inner-block{
    background-color:#f2f2f2f2; 
    padding: 15px 20px;
    border: 1px solid #BFBFBF;
   
}
.about .inner-block h2{
    font-size: 35px;
    text-transform:uppercase;
    color: #af856d;
    font-weight: 700;
    letter-spacing: 1px;
    }
    .about .inner-block .inner-content p{
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
    }
.about .inner-block ul li span:first-child{
color:#4e5981;
font-weight: 700;
font-size: 20px;
font-family: 'Montserrat', sans-serif;
line-height :1.2;
width: 40%;

}
.about .inner-block ul li{
color:#111111;
font-weight: 500;
font-size: 18px;
font-family: 'Montserrat', sans-serif;
line-height: 1.2;
padding-top: 20px;

}
.about .inner-block ul li{
    flex-wrap: wrap;
}
.about .inner-block ul li span{
    width: 50%;
}
@media (max-width:991px){
    .about .inner-block ul li{
        font-size: 16px;
    }
}
@media (max-width:575px){
    .about .inner-block h2{
        font-size: 30px;
        text-align: center;
    }
    .about .inner-block .inner-about{
        display: none;
    }
    .about .inner-block .inner-content p{
        font-size: 16px;
    }
}

.hobbies{
    margin-top: 50px; 
}
.hobbies  .block{
    background-color:#f2f2f2f2 ;
    padding: 20px 20px;
    border: 1px solid #BFBFBF;
}
.hobbies  .block h2{
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: #af856d;
  
}
.hobbies  .block h3{
    font-size: 28px;
    text-transform: capitalize;
    font-weight: 400;
    font-style: italic;
    font-family: 'Montserrat', sans-serif;
    color:  #4e5981;
    margin-bottom: 20px;
}
.hobbies  .block  .inner-block .img-block {
    max-width: 100%;
    height: 100%;
}
.hobbies  .block  .inner-block .img-block img{
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 100%;
    
    }
    @media (max-width:575px){
        .hobbies  .block h2{
            font-size: 30px;
            text-align: center;
        }
        .hobbies  .block  .inner-block .inner-img{
        margin-bottom: 20px;
        }
       
    }

.education {
 margin-top:20px;
}
.education .block{
    background-color:#f2f2f2f2; 
    padding: 15px 20px;
    border: 1px solid #BFBFBF;

}

.education .block h2{
font-size: 35px;
text-transform: uppercase;
font-weight: 700;
font-family: 'Montserrat', sans-serif;
color: #af856d;
margin-bottom: 20px;

}
.education .block .inner-block .inner-content{
   background-color: #4e5981;
   padding: 30px 20px;
   border-radius: 5px;
}

.education .block .inner-block .inner-content  h3{
    font-size: 25px;
text-transform: capitalize;
font-weight: 700;
font-family: 'Montserrat', sans-serif;
color: #ffffff;
text-align: center;
}
.education .block .inner-block  .inner-content p{
    font-size: 20px;
text-transform: capitalize;
font-weight: 500;
font-family: 'Montserrat', sans-serif;
color: #af856d;
text-align: center;
}
.education .block .inner-block  .inner-content h4{
    font-size: 17px;
text-transform: capitalize;
font-weight: 300;
font-family: 'Montserrat', sans-serif;
color: #af856d;
text-align: center;
}

@media (max-width:575px){
    .education .block h2{
        font-size: 30px;
        text-align: center;
    }
    .education .block .inner-block .inner-content{
       margin-bottom: 20px;
     }
   
}

.experience{
    margin-top: 50px;
}
.experience .block{
    background-color:#f2f2f2f2;
    padding: 15px 20px; 
    border: 1px solid #BFBFBF;
}

.experience .block h2{
font-size: 35px;
text-transform: uppercase;
font-weight: 700;
font-family: 'Montserrat', sans-serif;
color: #af856d;
margin-bottom: 20px;
}
.experience .block .inner-block{
   background-color: #4e5981;
   padding: 70px 30px;
   border-radius: 5px;
}
.experience .block .inner-block h3{
    font-size: 25px;
text-transform: capitalize;
font-weight: 700;
font-family: 'Montserrat', sans-serif;
color:#ffffff;
text-align: center;
}
.experience .block .inner-block p{
    font-size: 20px;
text-transform: capitalize;
font-weight: 500;
font-family: 'Montserrat', sans-serif;
color: #af856d;
text-align: center;
}

@media (max-width:575px){
    .experience .block h2{
        font-size: 30px;
        text-align: center;
    }
    .experience .block .inner-block{
       margin-bottom: 20px;
     }
}
.project{
margin-top: 50px;
}
.project .block{
background-color: #ffffff; 
border: 1px solid #BFBFBF;
box-shadow: 3px 3px 5px 5px #d6d6d6;
padding: 15px 20px;

}
.project .block h2{
    font-size: 35px;
text-transform: uppercase;
font-weight: 700;
font-family: 'Montserrat', sans-serif;
color: #af856d;
margin-bottom: 20px;
}
.project .block .inner-block{
    margin: 20px 0px;
  
}
.project .block .inner-block .img-block{
  max-width: 100%;
}
.project .block .inner-block .img-block img{
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.project .block .inner-block .card {
    border:1px solid #4e5981;
    border-radius: 5px;
}
.project .block .inner-block .card {
    border:1px solid #4e5981;
    border-radius: 5px;
}.project .block .inner-block .card .btn-primary {
 background-color:#4e5981 ;
 border: 2px solid #4e5981;
}
.project .block .inner-block .card h3{
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: #4e5981; 
}
.project .block .inner-block .card h4{
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color:#4e5981; 
}
.project .block .inner-block .card p{
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;

}
@media (max-width:575px){
    .project .block h2{
        font-size: 30px;
        text-align: center;
    }
}
footer{
margin-top: 50px;
padding: 30px 0px; 
background-color: #4e5981;  
}

footer .block .inner-block .inner-content{
    background-color: #ffffff;
    padding: 30px 10px;
    height: 100%;
}
footer .block .inner-block .img-block{
max-width: 100%;
}
footer .block .img-block svg{
width: 20px
}

footer .block .inner-block a{
    text-decoration: none;
font-size: 18px;
display: block;
text-align: center;
margin-top: 15px;

color:#4e5981;
}
footer .block  iframe{
    width:100%;
    height: 100%;
}
@media (max-width:575px){
    footer .block .inner-block {
        margin-bottom: 20px;
    }
    footer .block  iframe{
        width:100%;
        height: 100%;
    }  
}